<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298616976586-h2jattbf13jclr3atvr9m1f88ck52ktt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298616976586-h2jattbf13jclr3atvr9m1f88ck52ktt</string>
	<key>API_KEY</key>
	<string>AIzaSyDCRGjbsHJVeRPyk2nbZafZ12_FLMNsqIs</string>
	<key>GCM_SENDER_ID</key>
	<string>298616976586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tani-money</string>
	<key>PROJECT_ID</key>
	<string>tanimoney-178a7</string>
	<key>STORAGE_BUCKET</key>
	<string>tanimoney-178a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298616976586:ios:163a7f316d7923b3ce7033</string>
</dict>
</plist>